<!DOCTYPE html>
<html>
  <head>
    <title>Login | FreshBasket</title>
    <!-- <link rel="stylesheet" href="../public/css/login.css" /> -->
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f3f3f3;
      }

      .container {
        max-width: 500px;
        margin: 50px auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }

      h1 {
        text-align: center;
        color: #009944;
      }

      form {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
      }

      .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
      }

      label {
        font-weight: bold;
        margin-bottom: 5px;
      }

      input[type="text"],
      input[type="password"] {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        outline: none;
      }

      button {
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: #009944;
        color: #ffffff;
        cursor: pointer;
      }

      button:hover {
        background-color: #009944;
      }

      p {
        text-align: center;
      }

      a {
        color: #009944;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
      select {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        outline: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <form method="post" action="/auth">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>
        <div class="form-group">
          <label for="usertype">User Type</label>
          <select id="usertype" name="usertype" required>
            <option value="">Select User Type</option>
            <option value="1">Admin</option>
            <option value="0">User</option>
          </select>
        </div>
        <button type="submit">Login</button>
      </form>
      <p>Don't have an account yet? <a href="/signup">Sign up here</a></p>
    </div>
  </body>
</html>
